



/* title header */


.title-div {
    display: flex;
    align-items: center; justify-content: center;
    margin: 0 auto;
    padding: 100px 0;
}

.title-header {
    font-family: 'Arvo', serif;
    color: rgb(76, 57, 57);
    transition: all 0.2s ease-in;
}

.title-header:hover {
    text-shadow: 2px 2px 4px rgb(41, 33, 33);
}



/* cart-data */

section {
    background-color: antiquewhite;
    margin: 0 50px;
    border-radius: 12px;
}


.container-head {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 0 50px;
    background-color: #ff523b;
    /* padding: 23px 23px; */
}

.table-head {
    padding: 23px 120px;
    color: white;
}

h3 {
    font-size: medium;
}

img {
    border-radius: 12px;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.cart-data-row {
    padding: 36px 47px;
    display: flex;
    justify-content: center;
    margin: 0 50px;
}

.img-with-data {
    display: flex;
    
    /* padding: 4px 4px; */
    justify-content: space-between;
}

.img-with-data a {
    color: #ff523b;
}

.data-row {
    text-align: center;
}

.quantity-counter {
    display: flex;
    /* position: relative; */
    border-radius: 45px;
    
    /* box-shadow: 0 20px 30px rgba(0,0,0,0.1); */

}
.counter-changer {
    /* display: flex; */
    margin: 0px -3px;
}
input[type="number"] {
    text-align: center;
    font-size: 25px;
    border: none;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    color: #3264fe;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

#decrement {
    padding: 15px 5px 15px 25px;
    border-radius: 45px 0 0 45px;
}

#increment {
    padding: 15px 25px 15px 5px;
    border-radius: 0 45px 45px 0;
}
